@media screen and (min-width: 300px) and (max-width: 424px) {

    /*HEADER WRAPPER*/
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(10, 8, 80);
        background-color: #081c38;

    }

    body::-webkit-scrollbar {
        width: 10px;
        /*background-color: #ffffff;*/

    }

    body::-webkit-scrollbar-thumb {
        background-color: #0056ff;
        border: 2px solid #0b3993;
        box-shadow: 0px 0px 40px 40px rgb(23, 15, 199);
        border-radius: 10px;

    }

    .banner {
        position: absolute;
        text-align: center;
        /*left: 50%;*/
        /*right: 50%;*/
        top: 100%;
        left: 50%;
        margin: -128px 0 0 -110px;
        padding-top: 0;
        padding-right: 0;
    }

    .button {
        position: relative;
        bottom: 10px;
        display: inline-block;
        padding: 15px 75px 15px 75px;
        opacity: 0.8;
        text-shadow: 5px 5px 10px black, 0 0 5px white;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 11px;
        overflow: hidden;
        font-family: 'Roboto-Monto', sans-serif;
        transition: 0.2s;

    }


    .header-wrapper {
        height: 100vh;
        width: 100%;
    }

    header {
        height: 40px;

    }

    .header {
        top: 50%;
        left: 41%;
    }

    body {
        font-size: 1%;
    }


    .logo {
        padding: 0;
        width: 40px;
    }


    .logogif {
        display: flex;
        position: absolute;
        top: 35%;
        left: 50%;
        margin: -128px 0 0 -95px;
        z-index: 0;
    }


    .container {
        width: 80%;
    }

    .nav {
        float: right;
        position: relative;
        text-align: center;
        top: 12px;
        padding: 0px 0px 0 0px;
    }

    .nav li {
        margin-left: 6px;
        padding-top: 0px;
    }

    .nav ul {
    }

    .nav a {
        font-size: 7px;
    }

    .languages {
        padding: 13px 13px 0 0;
    }

    .languages img {
        width: 17px;
    }


    .header-images {
        position: absolute;
        text-align: center;
        /*top: 370px;*/
        padding-top: 0;
        /*margin: 0;*/
        padding-right: 0;
        /**-----------------*/
        top: 70%;
        left: 50%;
        margin: -128px 0 0 -75px;
    }

    .header-images img {
        width: 50px;
        height: 50px;
    }

    .imgheader {
        width: 30px;
        height: 30px;
        padding: 0 15px 0 0;
    }

    .header-wrapper h1 {
        position: absolute;
        /*top: 380px;*/
        font-size: 24px;
        /*margin: 10px 0 0 0;*/
        text-shadow: 3px 3px 5px black, 0 0 2px white;
        text-align: center;
        /*    -------------*/
        top: 80%;
        left: 50%;
        margin: -128px 0 0 -150px;
    }


    .header-wrapper h4, .earlyReg {
        /*top: 380px;*/
        position: absolute;
        font-size: 14px;
        /*margin: 10px 0 25px 0;*/
        text-align: center;
        /*    ------------------*/
        top: 92%;
        left: 50%;
        margin: -128px 0 0 -136px;
    }

    .header-button-block {
        padding-top: 5px;
    }

    .blue-button {
        border: 2px solid #0fe0e0;
        border-radius: 17px;
        font-size: 15px;
        padding: 5px 16px 5px 16px;
    }

    /*--------*/
    /*БРОСАЙ ВЫЗОВ*/
    .challenge-wrapper {
        height: 400px;

    }

    .challenge-title {
        padding-top: 5px;
    }

    .challenge-title h3 {
        font-size: 21px;
    }

    .challenge-text {
        /*display: inline-block;*/
        position: absolute;
        padding-left: 0;
        text-align: center;
        font-size: 11px;
        top: 125%;
        left: 50%;
        margin: -128px 0 0 -162px;

    }

    .challenge-img {
        display: inline-block;
        /*text-align: center;*/
        position: absolute;
        padding-top: 0px;
        padding-left: 0px;
        /*    */
        top: 160%;
        left: 50%;
        margin: 10px 0 0 -110px;
    }


    .challenge-img img {
        width: 240px;
    }

    /*---------*/
    .about-blocks-wrapper.clearfix {
        display: inline-block;
    }

    .about-wrapper {
        height: 3150px;
        padding-bottom: 15px;
    }

    .about-block {
        display: inline-block;
        width: 100%;
    }


    .about-block img {
        height: 65px;
        margin-left: 0px;
    }

    .about-block p {
        font-size: 23px;
        text-align: center;
        margin: 10px 18px 20px 18px;
        text-shadow: 5px 5px 10px black, 0 0 5px white;


    }

    .partners-wrapper {
        padding: 70px 0 0 0;
    }

    .partners-wrapper h3 {
        font-size: 26px;
    }

    .partners-wrapper p, span {
        font-size: 18px;
    }

    .partners-line {
        padding: 0 0 0px 0;
    }

    .partners-line-2 {
        padding: 0 0 0 0;
    }

    .partner-img-text {
        height: 100px;
        width: 270px;
        padding: 0 0px 0 0px;
        margin: 0 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;

    }

    .partner-img-text img {
        width: 150px;
        left: 24%;
    }

    .partner-img-text2 {
        height: 100px;
        width: 270px;
        padding: 0 0 0 0px;
        margin: 0px 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;
    }

    .partner-img-text2 img {
        width: 100px;
        top: 62%;
        left: 32%;
    }


    .partner-img-text3 {
        height: 100px;
        width: 270px;
        padding: 0 0px 0 0px;
        margin: 0px 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;
    }

    .partner-img-text3 img {
        width: 180px;
        top: 70%;
        left: 18%;
    }


    .partner-img-text4 {
        height: 100px;
        width: 270px;
        padding: 0 0px 0px 0px;
        margin: 0px 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;
    }

    .partner-img-text4 img {
        width: 140px;
        top: 70%;

        left: 25%;
    }

    .partner-img-text5 {
        height: 100px;
        width: 270px;
        padding: 0 0 0 0px;
        margin: 0px 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;

    }

    .partner-img-text5 img {
        width: 155px;
        top: 70%;
        left: 24%;
    }


    .partner-img-text p {
        padding: 30px 0 0 155px;
    }

    .partner-img-wrapper {

    }

    .partner-img {
        height: 100px;
        left: 0;
        float: none;
        display: inline-block;
        width: 240px;
        padding: 0 0px 0 0px;
        position: relative;
        margin: 0 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;

    }

    .partner-img img {
        width: 100px;
        left: 50%;
    }

    .partner-img2 {
        width: 240px;
        height: 100px;
        left: 0;
        float: none;
        display: inline-block;
        position: relative;
        padding: 0 0px 0 0px;
        margin: 0 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;

    }

    .partner-img2 img {
        width: 100px;
        left: 50%;
    }

    .partner-img3 {
        width: 240px;
        height: 100px;
        left: 0;
        float: none;
        display: inline-block;
        position: relative;
        padding: 0 0px 0 0px;
        margin: 0 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;

    }

    .partner-img3 img {
        width: 80px;
        left: 50%;
    }

    .partner-img4 {
        width: 240px;
        height: 100px;
        left: 0;
        float: none;
        display: inline-block;
        padding: 0 0px 0 0px;
        margin: 10px 0 15px 0px;
        box-shadow: 5px 5px 10px black, 0 0 5px white;

    }

    .partner-img4 img {
        width: 140px;
        left: 50%;
    }

    .partners-wrapper p {
        font-size: 11px;
    }

    .program-block-content p {
        text-shadow: 5px 5px 10px black, 0 0 5px white;
        padding: 0px 0 0 0px;
        font-size: 18px;
        position: absolute;
        right: 0px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .partners-wrapper span {
        font-size: 15px;
    }

    .partners-wrapper a {
        font-size: 15px;
    }


    .mainpart-content-wrapper {
        text-align: center;
        padding-top: 10px;

    }

    .mainpart-wrapper ul {
        font-size: 17px;

    }

    .mainpart-ul {
        padding: 0 0 0 0;
        position: absolute;
        margin: 0px 0px 0px -125px;
        left: 50%;
    }

    .mainpart-img {
        padding-right: 0;
        padding-top: 0;
        /*    */
        /*top: 350%;*/
        left: 50%;
        margin: 170px 43px 0px -91px;
    }

    .mainpart-wrapper img {
        width: 200px;
    }

    /*Программа*/
    .title-wrapper {
        padding-top: 1%;
    }

    .title-wrapper h3 {
        font-size: 20px;
    }

    .program-wrapper {
        height: 300px;
    }

    .program-block {
        width: 33.33%;
    }

    .program-block-title {
        font-size: 13px;
    }

    .program-block-content {
        font-size: 10px;
        line-height: 20px;
    }

    .bottom-span {
        padding-top: 25px;
        padding-left: 0;
        text-align: center;
    }

    .bottom-span a {
        font-size: 18px;
        text-shadow: 3px 3px 6px black, 0 0 3px white;
    }

    .bottom-span span {
        font-size: 18px;
        text-shadow: 3px 3px 6px black, 0 0 3px white;
        padding-left: 0;
    }

    .referees-wrapper {
        height: 300px;
    }

    .referees-title-wrapper {
        font-size: 20px;
        padding-top: 40px;
    }

    .referees-blue-button {
        font-size: 15px;
        padding: 12px 30px 12px 30px;
    }

    .referees-button-block {
        padding-top: 70px;
    }

    .hands img {
        width: 250px;
        top: -32px;
    }

    .support-wrapper {
        height: 580px;
    }

    .support-title-wrapper {
        font-size: 18px;
        padding-top: 30px;
    }

    .textsup {
        font-size: 15px;
        padding-left: 0;
    }

    .question p, .answer li {
        line-height: 22px;
        padding-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /*-----*/
    /*CONTACTS*/
    .contacts-wrapper {
        width: 100%;
        height: 500px;
    }

    .contacts-text {
        padding-top: 15px;
    }

    .contacts-text a {
        font-size: 12px;
    }

    .contacts-text p {
        font-size: 12px;
    }

    .contacts-map iframe {
        padding-top: 30px;
        height: 250px;
        width: 250px;
    }

    .sponsors-wrapper {
        top: 28em;
    }

    .sponsors-wrapper img {
        width: 80px;
        height: 80px;
        margin-right: 35px;
    }

    .sponsor-images {
        padding-top: 35px;
    }

    /*--------*/
    /*FOOTER*/
    .footerbar {
        height: 100px;
    }

    .footerbar-block p {
        font-size: 12px;
    }

    .right {
        padding-top: 15px;
    }

    .footerbar-block li {
        font-size: 8px;
    }

}